@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&family=Roboto:wght@400;500&display=swap');

* {
 margin: 0;
 padding: 0;
 font: 'Arial';
}

body{
 background-image: url("/images/1.jpg");
 background-size: cover;
 background-repeat: no-repeat;
}

.container{
 height: 100vh;
 width: 100%;
}

p{
 max-height: max-content;
}

.header{
 display: flex;
 justify-content: space-between;
}

.header-title{
 height: 60px;
 margin-top: 0px;
 margin-left: 20px;
 color: white;
 font-family: 'Futura PT';
 font-size: 50px;
 font-weight: bold;
 font-style: italic;
}

#u{
 color: rgba(255, 223, 60, 1);  /*for the U in HULK*/
}
.header-nav{
 display: flex;
 justify-content: space-around;
 align-content: center;
 margin-top: 20px;
 margin-right: 10px;
 
}

a{
 font-family: 'Roboto', sans-serif;
 text-decoration: none;
 color: rgb(255, 255, 255);
 transition: all 0.3s ease 0s ;
}
a:hover{
 color: rgba(255, 223, 60, 1);
}

ul {
 list-style-type: none;
 font-size: 16px;
}

li {
 display: inline-block;
 padding: 2px;
 margin-right: 10px;
}

#join{
 color: black;
 font-weight: bold;
 padding: 5px;
 background-color: rgba(255, 223, 60, 1);
 border-radius: 6px;
 box-shadow: 0;
 transition: hover 3sec ease;
}

#join:hover{
 padding: 5px;
 background-color: rgba(255, 223, 60, 0.8)

}

.main_quote{
 display: flex;
 color: white;
 font-family: 'Roboto', sans-serif;
 font-weight: 900;
 font-size: 100px;
 text-align: center;
 margin: auto;
 justify-content: center;
 margin-top:150px;
}
