
body {
 background-image: url("../1.jpg");
 margin: 0;
 padding: 0;
 background-color: black;
}

.header{
 display: inline-block;
 height: 100px;
}

.hulk{
 margin-left: 312px ;
 color: white;
 font-family: 'Futura PT';
 font-size: 50px;
 font-weight: bold;
 font;
}

.nav-bar{
 color: #FFDF3C;
}

#u{
 color: #FFDF3C;
}

ul {
 list-style-type: none;
}

li {
 display: inline;
}
#join{
 color: black;
 background-color: #FFDF3C;
}